

html,body{
    background-image: url('../../../assets/login.jpg');
    background-blend-mode: darken;
    background-size: 100% 100%;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    vertical-align: center;
    }
    
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    #title{
      font-size: 30px;
      font-style: oblique;
    }
    
    .container{
    height: 100%;
    align-content: center;
    
    }
    
    #n {
      font-family: 'Open Sans Condensed', sans-serif;
    }
    
    .card{
    height: 510px;
    margin-top: auto;
    margin-bottom: auto;
    width: 340px;
    background-color: #9fd2cebd;
    }
    
    .form-control {
        background-color: #9fd2ce
    }
    
    .card-header {
     
    height:800px;
    
    background: url("../../../assets/log.jpg");
    background-size: 425px 300px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 57px;
    font-weight: 770;
    color: white;
    text-align: center;
    }
    
    #txt {
      position: relative;
      top:65%;
    }
    
    
    .input-group-prepend span{
    width: 50px;
    background-color:rgb(216, 216, 216);
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    
    .login_btn{
    
    color: black;
    background-color: #298185;
    width: 100px;
    height: 50px;
    
    }
    
    .login_btn:hover{
    color: black;
    background-color: rgb(14, 44, 14);
    }
    
    .card-footer {
      font-size: 20px;
    }
    
    .links{
    color: black;
    
    }
    
    
    
    .links a{
    margin-left: 4px;
    }
    
    #link{
      color: #167277;
      font-weight: 500;
    }

    .home{
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
        font-size: 60px;
        color: white;
        
        text-align: center;
        margin-top: 210px;
    }