html,body{
    background-image: url('../../../assets/login.jpg');
    background-blend-mode: darken;
    background-size: 100% 100%;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow: auto;
    height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    vertical-align: center;
    }
    
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    #title{
      font-size: 30px;
      font-style: oblique;
    }
    
    .container{
    height: 100%;
    align-content: center;
    
    }
    
    #n {
      font-family: 'Open Sans Condensed', sans-serif;
    }
    
    .card{
    height: 510px;
    margin-top: auto;
    margin-bottom: auto;
    width: 340px;
    background-color: #9fd2cebd;
    }
    
    .form-control {
        background-color: #9fd2ce
    }
    
    .card-header {
     
    height:800px;
    
    background: url("../../../assets/log.jpg");
    background-size: 425px 300px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 57px;
    font-weight: 770;
    color: white;
    text-align: center;
    }
    
    #txt {
      position: relative;
      top:65%;
    }
    
  
    
    
    .login_btn{
    
    color: black;
    background-color: #298185;
    width: 100px;
    height: 50px;
    
    }
    
    .login_btn:hover{
    color: black;
    background-color: rgb(14, 44, 14);
    }
    
    .card-footer {
      font-size: 20px;
    }
    
    .links{
    color: black;
    
    }
    
    
    
    .links a{
    margin-left: 4px;
    }
    
    #link{
      color: #167277;
      font-weight: 500;
    }

    .home{
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 500;
        font-size: 35px;
        color: white;
        text-align: left;
        margin-top: 15px;
        margin-left: 140px;
    }

    .table{
        background-color: #32373d;
        margin-left:140px;
        margin-right: 50px;
        margin-top:15px;
        width: 40%;
        text-align: left;
        font-size: 15px;
       padding: 0.65rem;
    }
  
  

    #italic {
        font-style: oblique;
    }

  .table th{
    background-color: rgba(63, 100, 63, 0.925);
    
  }
 

    .selected {
      background-color: rgb(108, 146, 108);
      color: black;
    }

    .cekanje {
      background-color: black;
      color: white;
    }