<html>

<body>


    <div class=row>
        <div class=col-sm-4>
            <button mat-raised-button [mat-dialog-close]=true>
                Prihvati
            </button>
        </div>
        <div class=col-sm-4>
            <button mat-raised-button [mat-dialog-close]=false>
                Odbij
            </button>
        </div>
        <div class=col-sm-4>
            <button mat-mini-fab style="float: right;" [mat-dialog-close]=2>
                X
            </button>
        </div>
    </div>
</body>

</html>