<!DOCTYPE html>
<html>

<head>



    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,600,700&amp;lang=en">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="dodaj-pred.component.css">



</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <div class="navbar-brand" href="#">
                <ul class=navbar-nav ml-auto>

                    <li>
                        <div class="nav-item" id="title">WEB-Rasadnik</div>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/admin'>Zahtevi za registracijom</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink='/dodaj'>Dodaj korisnika</a>
                    </li>
         
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/obrisi'>Obriši korisnika</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click) = 'odjava()' routerLink = '/login' >Odjavi se</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<div id=txt>Preduzeće</div>
				</div>
				<div class="card-body">
					<form>

						<div class="row form-group">
							<div class="col">
								<input type="text" [(ngModel)] = 'ime' name = 'ime' class="form-control" placeholder="Naziv preduzeća">
							</div>
							<div class="col">
								<input type="text" [(ngModel)] = 'username' name = 'username' class="form-control" placeholder="Skraćeni naziv preduzeća">
							</div>
						</div>

						<div class="row form-group">
							<div class="col">
								<input type="text" [(ngModel)] = 'password' name = 'password' class="form-control" placeholder="Lozinka">
							</div>
							<div class="col">
								<input type="text" [(ngModel)] = 'password2' name = 'password2' class="form-control" placeholder="Potvrda lozinke">
							</div>
						</div>


						<div class="row form-group">
							<div class="col">
								<label>Datum osnivanja preduzeća</label>
								<input type="date" [(ngModel)] = 'datumOsnivanja' name = 'datumOsnivanja' class="form-control" >
							</div>
							<div class="col">
								<label>Mesto preduzeća</label>
								<input type="text" [(ngModel)] = 'mesto' name = 'mesto' class="form-control" placeholder="">
							</div>
						</div>

						<div class="form-group">
							
								<input type="text" [(ngModel)] = 'email' name = 'email' class="form-control" placeholder="Adresa elektronske pošte">
						
						</div>

						<div class="form-group">
							<button (click) = 'signup()' value="Registruj se" class="btn float-right login_btn">Dodaj</button>
						</div>
					</form>
				</div>
				<div class="card-footer">
					<div class="d-flex justify-content-center links">
					</div>
				</div>
			</div>
		</div>
	</div>

   

    
</body>

</html>